SoapeeView/Web References/SoapeeWS/SoapeeWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCartResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllCart">
        <s:complexType />
      </s:element>
      <s:complexType name="Cart">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CartId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCart">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cart" nillable="true" type="tns:Cart" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllCartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCartResult" type="tns:ArrayOfCart" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCartByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCartByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCartByUserIdResult" type="tns:ArrayOfCart" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCartByUserIdandProductId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCartByUserIdandProductIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCartByUserIdandProductIdResult" type="tns:Cart" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertCartResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveCartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveCartResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveAllCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveAllCartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveAllCartResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCartResponse">
        <s:complexType />
      </s:element>
      <s:element name="ValidateName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateNameResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateDesc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateDescResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateDescResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidatePrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="price" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidatePriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidatePriceResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateAllInput">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="price" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateAllInputResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateAllInputResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Product">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProductId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProductByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductByIdResult" type="tns:Product" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllProduct">
        <s:complexType />
      </s:element>
      <s:complexType name="ArrayOfProduct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllProductResult" type="tns:ArrayOfProduct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="price" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertProductResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveProductResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="price" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateProductResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateRegisterUsername">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateRegisterUsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateRegisterUsernameResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateRegisterPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateRegisterPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateRegisterPasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateRegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateRegisterResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByUserIdResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByUsername">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByUsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByUsernameResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTransaction">
        <s:complexType />
      </s:element>
      <s:complexType name="Transaction">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TransactionId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTransactionResult" type="tns:ArrayOfTransaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="transactionId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionByIdResult" type="tns:Transaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionByUserIdandDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionByUserIdandDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionByUserIdandDateResult" type="tns:Transaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertTransactionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTransactionDetail">
        <s:complexType />
      </s:element>
      <s:complexType name="TransactionDetail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDetailId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransactionDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransactionDetail" nillable="true" type="tns:TransactionDetail" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllTransactionDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTransactionDetailResult" type="tns:ArrayOfTransactionDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionDetailById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="transactionId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionDetailByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionDetailByIdResult" type="tns:TransactionDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertTransactionDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="transactionId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertTransactionDetailResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetCartSoapIn">
    <wsdl:part name="parameters" element="tns:GetCart" />
  </wsdl:message>
  <wsdl:message name="GetCartSoapOut">
    <wsdl:part name="parameters" element="tns:GetCartResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllCartSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCart" />
  </wsdl:message>
  <wsdl:message name="GetAllCartSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCartResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllCartByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCartByUserId" />
  </wsdl:message>
  <wsdl:message name="GetAllCartByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCartByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetCartByUserIdandProductIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetCartByUserIdandProductId" />
  </wsdl:message>
  <wsdl:message name="GetCartByUserIdandProductIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetCartByUserIdandProductIdResponse" />
  </wsdl:message>
  <wsdl:message name="InsertCartSoapIn">
    <wsdl:part name="parameters" element="tns:InsertCart" />
  </wsdl:message>
  <wsdl:message name="InsertCartSoapOut">
    <wsdl:part name="parameters" element="tns:InsertCartResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveCartSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveCart" />
  </wsdl:message>
  <wsdl:message name="RemoveCartSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveCartResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveAllCartSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveAllCart" />
  </wsdl:message>
  <wsdl:message name="RemoveAllCartSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveAllCartResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCartSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCart" />
  </wsdl:message>
  <wsdl:message name="UpdateCartSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCartResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateNameSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateName" />
  </wsdl:message>
  <wsdl:message name="ValidateNameSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateNameResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateDescSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateDesc" />
  </wsdl:message>
  <wsdl:message name="ValidateDescSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateDescResponse" />
  </wsdl:message>
  <wsdl:message name="ValidatePriceSoapIn">
    <wsdl:part name="parameters" element="tns:ValidatePrice" />
  </wsdl:message>
  <wsdl:message name="ValidatePriceSoapOut">
    <wsdl:part name="parameters" element="tns:ValidatePriceResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateAllInputSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateAllInput" />
  </wsdl:message>
  <wsdl:message name="ValidateAllInputSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateAllInputResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductById" />
  </wsdl:message>
  <wsdl:message name="GetProductByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllProductSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllProduct" />
  </wsdl:message>
  <wsdl:message name="GetAllProductSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllProductResponse" />
  </wsdl:message>
  <wsdl:message name="InsertProductSoapIn">
    <wsdl:part name="parameters" element="tns:InsertProduct" />
  </wsdl:message>
  <wsdl:message name="InsertProductSoapOut">
    <wsdl:part name="parameters" element="tns:InsertProductResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveProductSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveProduct" />
  </wsdl:message>
  <wsdl:message name="RemoveProductSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveProductResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateProductSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="UpdateProductSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateRegisterUsernameSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateRegisterUsername" />
  </wsdl:message>
  <wsdl:message name="ValidateRegisterUsernameSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateRegisterUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateRegisterPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateRegisterPassword" />
  </wsdl:message>
  <wsdl:message name="ValidateRegisterPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateRegisterPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateRegister" />
  </wsdl:message>
  <wsdl:message name="ValidateRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateLoginSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateLogin" />
  </wsdl:message>
  <wsdl:message name="ValidateLoginSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserByUserId" />
  </wsdl:message>
  <wsdl:message name="GetUserByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserByUsernameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserByUsername" />
  </wsdl:message>
  <wsdl:message name="GetUserByUsernameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="InsertUserSoapIn">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="InsertUserSoapOut">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveUserSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveUser" />
  </wsdl:message>
  <wsdl:message name="RemoveUserSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveUserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTransaction" />
  </wsdl:message>
  <wsdl:message name="GetAllTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransactionById" />
  </wsdl:message>
  <wsdl:message name="GetTransactionByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionByUserIdandDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransactionByUserIdandDate" />
  </wsdl:message>
  <wsdl:message name="GetTransactionByUserIdandDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionByUserIdandDateResponse" />
  </wsdl:message>
  <wsdl:message name="InsertTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:InsertTransaction" />
  </wsdl:message>
  <wsdl:message name="InsertTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:InsertTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTransactionDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTransactionDetail" />
  </wsdl:message>
  <wsdl:message name="GetAllTransactionDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTransactionDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionDetailByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransactionDetailById" />
  </wsdl:message>
  <wsdl:message name="GetTransactionDetailByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionDetailByIdResponse" />
  </wsdl:message>
  <wsdl:message name="InsertTransactionDetailSoapIn">
    <wsdl:part name="parameters" element="tns:InsertTransactionDetail" />
  </wsdl:message>
  <wsdl:message name="InsertTransactionDetailSoapOut">
    <wsdl:part name="parameters" element="tns:InsertTransactionDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCart">
      <wsdl:input message="tns:GetCartSoapIn" />
      <wsdl:output message="tns:GetCartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCart">
      <wsdl:input message="tns:GetAllCartSoapIn" />
      <wsdl:output message="tns:GetAllCartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCartByUserId">
      <wsdl:input message="tns:GetAllCartByUserIdSoapIn" />
      <wsdl:output message="tns:GetAllCartByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCartByUserIdandProductId">
      <wsdl:input message="tns:GetCartByUserIdandProductIdSoapIn" />
      <wsdl:output message="tns:GetCartByUserIdandProductIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertCart">
      <wsdl:input message="tns:InsertCartSoapIn" />
      <wsdl:output message="tns:InsertCartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCart">
      <wsdl:input message="tns:RemoveCartSoapIn" />
      <wsdl:output message="tns:RemoveCartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAllCart">
      <wsdl:input message="tns:RemoveAllCartSoapIn" />
      <wsdl:output message="tns:RemoveAllCartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCart">
      <wsdl:input message="tns:UpdateCartSoapIn" />
      <wsdl:output message="tns:UpdateCartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateName">
      <wsdl:input message="tns:ValidateNameSoapIn" />
      <wsdl:output message="tns:ValidateNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateDesc">
      <wsdl:input message="tns:ValidateDescSoapIn" />
      <wsdl:output message="tns:ValidateDescSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePrice">
      <wsdl:input message="tns:ValidatePriceSoapIn" />
      <wsdl:output message="tns:ValidatePriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateAllInput">
      <wsdl:input message="tns:ValidateAllInputSoapIn" />
      <wsdl:output message="tns:ValidateAllInputSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductById">
      <wsdl:input message="tns:GetProductByIdSoapIn" />
      <wsdl:output message="tns:GetProductByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProduct">
      <wsdl:input message="tns:GetAllProductSoapIn" />
      <wsdl:output message="tns:GetAllProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertProduct">
      <wsdl:input message="tns:InsertProductSoapIn" />
      <wsdl:output message="tns:InsertProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveProduct">
      <wsdl:input message="tns:RemoveProductSoapIn" />
      <wsdl:output message="tns:RemoveProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <wsdl:input message="tns:UpdateProductSoapIn" />
      <wsdl:output message="tns:UpdateProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateRegisterUsername">
      <wsdl:input message="tns:ValidateRegisterUsernameSoapIn" />
      <wsdl:output message="tns:ValidateRegisterUsernameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateRegisterPassword">
      <wsdl:input message="tns:ValidateRegisterPasswordSoapIn" />
      <wsdl:output message="tns:ValidateRegisterPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateRegister">
      <wsdl:input message="tns:ValidateRegisterSoapIn" />
      <wsdl:output message="tns:ValidateRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <wsdl:input message="tns:ValidateLoginSoapIn" />
      <wsdl:output message="tns:ValidateLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserId">
      <wsdl:input message="tns:GetUserByUserIdSoapIn" />
      <wsdl:output message="tns:GetUserByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByUsername">
      <wsdl:input message="tns:GetUserByUsernameSoapIn" />
      <wsdl:output message="tns:GetUserByUsernameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <wsdl:input message="tns:InsertUserSoapIn" />
      <wsdl:output message="tns:InsertUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <wsdl:input message="tns:RemoveUserSoapIn" />
      <wsdl:output message="tns:RemoveUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:UpdateUserSoapIn" />
      <wsdl:output message="tns:UpdateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTransaction">
      <wsdl:input message="tns:GetAllTransactionSoapIn" />
      <wsdl:output message="tns:GetAllTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionById">
      <wsdl:input message="tns:GetTransactionByIdSoapIn" />
      <wsdl:output message="tns:GetTransactionByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionByUserIdandDate">
      <wsdl:input message="tns:GetTransactionByUserIdandDateSoapIn" />
      <wsdl:output message="tns:GetTransactionByUserIdandDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertTransaction">
      <wsdl:input message="tns:InsertTransactionSoapIn" />
      <wsdl:output message="tns:InsertTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTransactionDetail">
      <wsdl:input message="tns:GetAllTransactionDetailSoapIn" />
      <wsdl:output message="tns:GetAllTransactionDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionDetailById">
      <wsdl:input message="tns:GetTransactionDetailByIdSoapIn" />
      <wsdl:output message="tns:GetTransactionDetailByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertTransactionDetail">
      <wsdl:input message="tns:InsertTransactionDetailSoapIn" />
      <wsdl:output message="tns:InsertTransactionDetailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCart">
      <soap:operation soapAction="http://tempuri.org/GetCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCart">
      <soap:operation soapAction="http://tempuri.org/GetAllCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCartByUserId">
      <soap:operation soapAction="http://tempuri.org/GetAllCartByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartByUserIdandProductId">
      <soap:operation soapAction="http://tempuri.org/GetCartByUserIdandProductId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCart">
      <soap:operation soapAction="http://tempuri.org/InsertCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCart">
      <soap:operation soapAction="http://tempuri.org/RemoveCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAllCart">
      <soap:operation soapAction="http://tempuri.org/RemoveAllCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCart">
      <soap:operation soapAction="http://tempuri.org/UpdateCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateName">
      <soap:operation soapAction="http://tempuri.org/ValidateName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateDesc">
      <soap:operation soapAction="http://tempuri.org/ValidateDesc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePrice">
      <soap:operation soapAction="http://tempuri.org/ValidatePrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateAllInput">
      <soap:operation soapAction="http://tempuri.org/ValidateAllInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductById">
      <soap:operation soapAction="http://tempuri.org/GetProductById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProduct">
      <soap:operation soapAction="http://tempuri.org/GetAllProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProduct">
      <soap:operation soapAction="http://tempuri.org/InsertProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveProduct">
      <soap:operation soapAction="http://tempuri.org/RemoveProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap:operation soapAction="http://tempuri.org/UpdateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateRegisterUsername">
      <soap:operation soapAction="http://tempuri.org/ValidateRegisterUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateRegisterPassword">
      <soap:operation soapAction="http://tempuri.org/ValidateRegisterPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateRegister">
      <soap:operation soapAction="http://tempuri.org/ValidateRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <soap:operation soapAction="http://tempuri.org/ValidateLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserId">
      <soap:operation soapAction="http://tempuri.org/GetUserByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUsername">
      <soap:operation soapAction="http://tempuri.org/GetUserByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap:operation soapAction="http://tempuri.org/RemoveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTransaction">
      <soap:operation soapAction="http://tempuri.org/GetAllTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionById">
      <soap:operation soapAction="http://tempuri.org/GetTransactionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionByUserIdandDate">
      <soap:operation soapAction="http://tempuri.org/GetTransactionByUserIdandDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTransaction">
      <soap:operation soapAction="http://tempuri.org/InsertTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTransactionDetail">
      <soap:operation soapAction="http://tempuri.org/GetAllTransactionDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionDetailById">
      <soap:operation soapAction="http://tempuri.org/GetTransactionDetailById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTransactionDetail">
      <soap:operation soapAction="http://tempuri.org/InsertTransactionDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCart">
      <soap12:operation soapAction="http://tempuri.org/GetCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCart">
      <soap12:operation soapAction="http://tempuri.org/GetAllCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCartByUserId">
      <soap12:operation soapAction="http://tempuri.org/GetAllCartByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartByUserIdandProductId">
      <soap12:operation soapAction="http://tempuri.org/GetCartByUserIdandProductId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCart">
      <soap12:operation soapAction="http://tempuri.org/InsertCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCart">
      <soap12:operation soapAction="http://tempuri.org/RemoveCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAllCart">
      <soap12:operation soapAction="http://tempuri.org/RemoveAllCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCart">
      <soap12:operation soapAction="http://tempuri.org/UpdateCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateName">
      <soap12:operation soapAction="http://tempuri.org/ValidateName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateDesc">
      <soap12:operation soapAction="http://tempuri.org/ValidateDesc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePrice">
      <soap12:operation soapAction="http://tempuri.org/ValidatePrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateAllInput">
      <soap12:operation soapAction="http://tempuri.org/ValidateAllInput" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductById">
      <soap12:operation soapAction="http://tempuri.org/GetProductById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProduct">
      <soap12:operation soapAction="http://tempuri.org/GetAllProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProduct">
      <soap12:operation soapAction="http://tempuri.org/InsertProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveProduct">
      <soap12:operation soapAction="http://tempuri.org/RemoveProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap12:operation soapAction="http://tempuri.org/UpdateProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateRegisterUsername">
      <soap12:operation soapAction="http://tempuri.org/ValidateRegisterUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateRegisterPassword">
      <soap12:operation soapAction="http://tempuri.org/ValidateRegisterPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateRegister">
      <soap12:operation soapAction="http://tempuri.org/ValidateRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <soap12:operation soapAction="http://tempuri.org/ValidateLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserId">
      <soap12:operation soapAction="http://tempuri.org/GetUserByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUsername">
      <soap12:operation soapAction="http://tempuri.org/GetUserByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap12:operation soapAction="http://tempuri.org/InsertUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap12:operation soapAction="http://tempuri.org/RemoveUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTransaction">
      <soap12:operation soapAction="http://tempuri.org/GetAllTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionById">
      <soap12:operation soapAction="http://tempuri.org/GetTransactionById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionByUserIdandDate">
      <soap12:operation soapAction="http://tempuri.org/GetTransactionByUserIdandDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTransaction">
      <soap12:operation soapAction="http://tempuri.org/InsertTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTransactionDetail">
      <soap12:operation soapAction="http://tempuri.org/GetAllTransactionDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionDetailById">
      <soap12:operation soapAction="http://tempuri.org/GetTransactionDetailById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTransactionDetail">
      <soap12:operation soapAction="http://tempuri.org/InsertTransactionDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44325/SoapeeWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44325/SoapeeWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>